<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Lista de Clientes</title>  
    <link rel="stylesheet" href="/public/css/clientes.css">
</head>  
<body>  
   

    <main>  

         
        <form action="/clientes" method="POST">  
            <h2>Agregar Cliente</h2>
            <input type="text" name="nombre" placeholder="Nombre" required>  
            <input type="text" name="direccion" placeholder="Dirección" required>  
            <input type="text" name="telefono" placeholder="Teléfono" required>  
            <button type="submit">Guardar Cliente</button>  
        </form>  
    </main>  

  
</body>  
</html>